{% extends "layout.html" %}

{% block content %}
    <h1>Provenance Management Service</h1>
    {% if ACTIVITY %}
        <h2>An Activity</h2>
        <h3>URI: {{ACTIVITY['uri']}}</h3>
        <p><a href="">html</a> | <a href="{{request.path + "?uri=" + ACTIVITY['uri_html'] + "&_format=text/turtle"}}">rdf/turtle</a></p>
        <table class="lined">
            <tr><th>Title:</th><td>{{ACTIVITY['l']}}</td></tr>
            {% if ACTIVITY['sat'] %}
            <tr><th>Started at:</th><td>{{ACTIVITY['sat']}}</td></tr>
            {% endif %}
            {% if ACTIVITY['eat'] %}
            <tr><th>Ended at:</th><td>{{ACTIVITY['eat']}}</td></tr>
            {% endif %}
            {% if ACTIVITY['waw'] %}
            <tr><th>Was associated with:</th><td>{{ACTIVITY['waw']}}</td></tr>
            {% endif %}
            {% if ACTIVITY['r'] %}
                {% if ACTIVITY['rt'] %}
                    <tr><th>Report:</th><td><a href={{PROMS_INSTANCE_NAMESPACE_URI}}id/report/?uri={{ACTIVITY['r']}}>{{ACTIVITY['rt']}}</a></td></tr>
                {% else %}
                    <tr><th>Report:</th><td><a href={{PROMS_INSTANCE_NAMESPACE_URI}}id/report/?uri={{ACTIVITY['r']}}>{{ACTIVITY['r_u']}}</a></td></tr>
                {% endif %}
            {% endif %}
        </table>
        {% if ACTIVITY['a_script'] %}
            <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="/static/js/raphael-min.js" charset="utf-8"></script>
            <script type="text/javascript" src="/static/js/proms-svg.js" charset="utf-8"></script>
            <script>
                {{ACTIVITY['a_script'] | safe}}
            </script>
        {% endif %}
    {% elif ACTIVITIES %}
        <h2>Activities Register</h2>
        {% if ACTIVITIES|length == 0 %}
            <p>No Activities found.</p>
        {% else %}
            <ul>
            {% for activity in ACTIVITIES %}
                <li><a href="{{PROMS_INSTANCE_NAMESPACE_URI}}id/activity?uri={{activity['a']}}">
                    {% if activity['l'] -%}
                        {{activity['l']}}
                    {% else %}
                        {{activity['a_u']}}
                    {% endif %}
                    </a>
                    {% if activity['l'] -%}
                        ({{activity['a_u']}})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No Activity information found.</p>
    {% endif %}
{% endblock %}