{% extends "layout.html" %}

{% block content %}
    <h2>Documentation for PROMS v3</h2>
    <p style="font-style: italic;">Under development, November, 2014.</p>
    <h3>Overview</h3>
    <p>PROMS v3 is a provenance storage system. It is an <a href="http://en.wikipedia.org/wiki/Application_programming_interface" class="definition">API</a> that wraps a graph database (see <a href="">database</a> below for more on this) used to store provenance traces.</p>
    <p>It does a few things to ensure that the data coming in from <em><a href="#" class="definition" style="text-decoration:line-through;">Reporting Systems</a></em> is acceptable and useful, it:</p>
    <ul>
        <li>validates incoming <a href="#" class="definition" style="text-decoration:line-through;">Reports</a> using the PROMS <a href="#" style="text-decoration:line-through;">Validation Criteria</a></li>
        <li>allows <a href="http://www.w3.org/standards/semanticweb/inference" class="definition">inference</a> to take place on <em>Reports</em></li>
        <li>provides <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" class="definition">RESTful</a> endpoints to each of the classes of object that valid <em>Reports</em> contain</li>
    </ul>
    <h3>Data</h3>
    <p>PROMS v3 uses an extension to the <a href="http://www.w3.org/TR/prov-o/">PROV</a> <a class="definition" href="http://en.wikipedia.org/wiki/Ontology_%28information_science%29">ontology</a> (PROV-O) as its data model.</p>
    <p>Basic use of PROV-O includes the use of 3 basic classes of things:</p>
    <ul>
        <li><em>Entities</em> - things like datasets, files etc.</li>
        <li><em>Activities</em> - things that happen to make or use Entities</li>
        <li><em>Agents</em> - people or systems responsible for Activities (and thus Entities)</li>
    </ul>
    <p>PROMS extends the PROV-O into a <a href="http://promsns.org/def/proms">PROMS-O</a> by the inclusion of the following classes of thinfgs:</p>
    <ul>
        <li><em>Report</em> - a subclass of <em>Entity</em> with the following subclasses of its own:</li>
        <li><em>BasicReport</em> - a Report about an event (Activity) containing very basic metada: "something called X happened"</li>
        <li><em>ExternalReport</em> - a Report about an Activity with basic metadata and references to the input and output data it used</li>
        <li><em>InternalReport</em> - a Report with basic metadata and a full (as full as the author can make it) details about the internal steps of the Activity, modelled in PROV</li>
    </ul>
    <h3>Functions</h3>
    <p>The functions supported by PROMS v3 are:</p>
    <ul>
        <li>
            <strong>Create a new <em>Report</em></strong>
            <ul>
                <li>use the default <a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}function/create_report"><em>Report</em> creation form</a></li>
                <li>HTTP POST a pre-made <em>Report</em> in the <a class="definition" href="http://www.w3.org/TeamSubmission/turtle/">RDF turtle</a> format to {PROMS_INSTANCE_URI}/id/report/</li>
            </ul>
        </li>
        <li>
            <strong>Create a pingback</strong> <em>(under development)</em>
            <ul>
                <li>let PROMS know you've referred to one of its <em>Entities</em> in a provenance graph elsewhere</li>
                <li>send a pingback JSON document to {PROMS_INSTANCE_URI}/function/pingback/</li>
            </ul>
        </li>
        <li>
            <strong>Browse <em>Reports</em> and their members</strong>
            <ul>
                <li>browse and filter <em>Reports</em> and their components <em>Entities</em> &amp; <em>Activities</em></li>
                <li><em>ReportingSystems</em> - <a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/reportingsystem/">{PROMS_INSTANCE_URI}/id/reportingsystem/</a></li>
                <li><em>Reports</em> - <a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/report/">{PROMS_INSTANCE_URI}/id/report/</a></li>
                <li><em>Entities</em> - <a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/entity/">{PROMS_INSTANCE_URI}/id/entity/</a></li>
                <li><em>Activities</em> - <a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/activity/">{PROMS_INSTANCE_URI}/id/activity/</a></li>
                <li><em>Agents</em> - <a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/agent/">{PROMS_INSTANCE_URI}/id/agent/</a></li>
            </ul>
        </li>
        <li>
            <strong>Search the database</strong> <em>(under development)</em>
            <ul>
                <li>search the provenance data using PROM's SPARQL endpoint - <a href="/function/sparql">{PROMS_INSTANCE_URI}/function/sparql</a></li>
            </ul>
        </li>
    </ul>
    <h3 id="howto">How Tos</h3>
    <p><em>Coming, November, 2014!</em></p>
    <h3>Implementation</h3>
    <p>PROMS v3 is implemented according to Figure 1.</p>
    <div class="figure">
        <img src="/static/img/PROMS3_structure.png" alt="PROMS3 Structure" />
        <p class="caption"><strong>Figure 1</strong>: PROMS v3 Structure</p>
    </div>
    <h3 id="resources">Resources</h3>
    <p>Toolkits exist to generate PROMS <a class="definition" href="http://www.promsns.org/ns/proms#Report">Report</a>s that can then be lodged with this system.</p>
    <table class="lined">
        <tr><th>Toolkit</th><th>Technologies</th><th>Location</th></tr>
        <tr><td>PROMS Java client</td><td>Java, Jena (a Java RDF system)</td><td><a href="https://stash.csiro.au/projects/EIS/repos/proms-clients-java">https://stash.csiro.au/projects/EIS/repos/proms-clients-java</a></td></tr>
        <tr><td>pyproms<br />Python PROMS client module</td><td>Python (2.7), rdflib (a Python RDF framework)</td><td><a href="https://pypi.python.org/pypi/pyproms">pyproms on the Python package index</a></td></tr>
        <tr><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td></tr>
    </table>
    <h3>More details</h3>
    <p>Further documentation for PROMS and its related tools and concepts is maintained on the PROMS wiki:</p>
    <ul>
        <li><a href="https://wiki.csiro.au/display/PROMS/">https://wiki.csiro.au/display/PROMS/</a></li>
    </ul>
{% endblock %}