{% extends "layout.html" %}

{% block content %}
    <h1>Provenance Management Service</h1>
    {% if ENTITY %}
        <h2>An Entity</h2>
        <h3>URI: {{ENTITY['uri']}}</h3>
        <p><a href="">html</a> | <a href="{{request.path + "?uri=" + ENTITY['uri_html'] + "&_format=text/turtle"}}">rdf/turtle</a></p>
        <table class="lined">
            {% if ENTITY['l'] %}
            <tr><th>Title:</th><td>{{ENTITY['l']}}</td></tr>
            {% endif %}
            {% if ENTITY['c'] %}
            <tr><th>Created:</th><td>{{ENTITY['c']}}</td></tr>
            {% endif %}
            {% if ENTITY['dl'] %}
            <tr><th>Download URL:</th><td><a href={{ENTITY['dl']}}>{{ENTITY['dl']}}</a></td></tr>
            {% endif %}
        </table>
        {% if ENTITY['e_script'] %}
            <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="/static/js/raphael-min.js" charset="utf-8"></script>
            <script type="text/javascript" src="/static/js/proms-svg.js" charset="utf-8"></script>
            <script type="text/javascript">
                {{ENTITY['e_script'] | safe}}
            </script>
        {% endif %}
    {% elif ENTITIES %}
        <h2>Entities Register</h2>
        {% if ENTITIES|length == 0 %}
            <p>No Entities found.</p>
        {% else %}
            <ul>
            {% for entity in ENTITIES %}
                <li><a href="{{PROMS_INSTANCE_NAMESPACE_URI}}id/entity?uri={{entity['e']}}">
                    {% if entity['l'] -%}
                        {{entity['l']}}
                    {% else %}
                        {{entity['e_u']}}
                    {% endif %}
                    </a>
                    {% if entity['l'] -%}
                        ({{entity['e_u']}})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No Entity information found.</p>
    {% endif %}
{% endblock %}