{% extends "layout.html" %}

{% block content %}
    <h2>Endpoints</h2>
    <p style="font-style: italic;">Under development, October, 2014.</p>
    <p>The current registers (lists) of things that provenance reports sent to PROMS describe are:</p>
    <ul>
        <li><a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/reportingsystem/">ReportingSystems</a></li>
        <li><a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/report/">Reports</a></li>
        <li><a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/entity/">Entities</a></li>
        <li><a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/activity/">Activities</a></li>
        <li><a href="{{ PROMS_INSTANCE_NAMESPACE_URI }}id/agent/">Agents</a></li>
    </ul>
    <p>SPARQL endpoint for free-range queries:</p>
    <ul>
        <li><a href="/function/sparql">SPARQL Endpoint</a></li>
    </ul>
{% endblock %}