{% extends "layout.html" %}

{% block content %}
    <h1>Provenance Management Service</h1>
    {% if REPORTINGSYSTEM %}
        <h2>A ReportingSystem</h2>
        <h3>URI: {{REPORTINGSYSTEM['uri']}}</h3>
        <table class="lined">
            <tr><th>Title:</th><td>{{REPORTINGSYSTEM['t']}}</td></tr>
            {% if REPORTINGSYSTEM['o'] %}
                <tr><th>Owner:</th><td>{{REPORTINGSYSTEM['o']}}</td></tr>
            {% endif %}
        </table>
        {% if REPORTINGSYSTEM['rs_script'] %}
        <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="/static/js/raphael-min.js" charset="utf-8"></script>
            <script type="text/javascript" src="/static/js/proms-svg.js" charset="utf-8"></script>
            <script type="text/javascript">
                {{REPORTINGSYSTEM['rs_script'] | safe}}
            </script>
        {% endif %}

    {% elif REPORTINGSYSTEMS %}
        <h2>ReportingSystems Register</h2>
        {% if REPORTINGSYSTEMS|length == 0 %}
            <p>No ReportingSystems found.</p>
        {% else %}
            <ul>
            {% for reportingsystem in REPORTINGSYSTEMS %}
                <li><a href="{{PROMS_INSTANCE_NAMESPACE_URI}}id/reportingsystem?uri={{reportingsystem['rs']}}">
                    {% if reportingsystem['t'] -%}
                        {{reportingsystem['t']}}
                    {% else %}
                        {{reportingsystem['rs_u']}}
                    {% endif %}
                    </a>
                    {% if reportingsystem['t'] -%}
                        ({{reportingsystem['rs_u']}})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No ReportingSystem information found.</p>
    {% endif %}
{% endblock %}
