{% extends "layout.html" %}

{% block content %}
    <h1>Provenance Management Service</h1>
    {% if REPORT %}
        <h2>A Report</h2>
        <h3>URI: {{REPORT['uri']}}</h3>
        <p><a href="">html</a> | <a href="{{request.path + "?uri=" + REPORT['uri_html'] + "&_format=text/turtle"}}">rdf/turtle</a></p>
        <h4><a class="definition" href={{REPORT['t']}}>{{REPORT['t_str']}}</a> Report</h4>
        <table class="lined">
            <tr><th>Title:</th><td>{{REPORT['l']}}</td></tr>
            <tr><th>Reporting System:</th><td>
                {% if REPORT['rs'] and REPORT['rs_t'] %}
                <a href={{PROMS_INSTANCE_NAMESPACE_URI}}id/reportingsystem/?uri={{REPORT['rs']}}>{{REPORT['rs_t']}}</a>
                {% elif REPORT['rs'] %}
                <a href={{PROMS_INSTANCE_NAMESPACE_URI}}id/reportingsystem/?uri={{REPORT['rs']}}>{{REPORT['rs_u']}}</a>
                {% else %}
                No ReportingSystem Registered
                {% endif %}
            </td></tr>
            <tr><th>Job ID:</th><td>{{REPORT['id']}}</td></tr>
        </table>
        {% if REPORT['r_script'] %}
            <h4>Neighbours view</h4>
            <div id="neighbour_view"></div>
            <script type="text/javascript" src="/static/js/raphael-min.js" charset="utf-8"></script>
            <script type="text/javascript" src="/static/js/proms-svg.js" charset="utf-8"></script>
            <script>
                {{REPORT['r_script'] | safe}}
            </script>
        {% endif %}
    {% elif REPORTS %}
        <h2>Reports Register</h2>
        {% if REPORTS|length == 0 %}
            <p>No Reports found.</p>
        {% else %}
            <ul>
            {% for report in REPORTS %}
                <li><a href="{{PROMS_INSTANCE_NAMESPACE_URI}}id/report?uri={{report['r']}}">
                    {% if report['t'] -%}
                        {{report['t']}}
                    {% else %}
                        {{report['r_u']}}
                    {% endif %}
                    </a>
                    {% if report['t'] -%}
                        ({{report['r_u']}})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No Report information found.</p>
    {% endif %}
{% endblock %}
